*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("fonts/OPTIMA.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: "Optima", sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* 
  NAV
*/

.nav {
  height: 10vh;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.website-name {
  font-size: 2rem;
}

.logo {
  width: 5%;
}

/*
  LIBRARY GRID
*/

.library-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  padding: 3rem 2rem;
}

/* 
  BOOK CARD 
*/
.book-card {
  border: 1px solid black;
  padding: 2rem 1.5rem 1rem 1.5rem;
  border-radius: 0.8em;
}

.book-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.book-title {
  font-size: 1.7rem;
}

.num-of-pages {
  font-size: 0.8rem;
  align-self: flex-end;
}

.book-card-buttons {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.book-card-buttons > button {
  padding: 5px 20px;
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 0.4em;
}

.bottom-break {
  margin: 0 -1.5rem;
}

.progress-info {
  margin: 0.8rem 0 0 -0.8rem;
}

/*
  ADD BOOK CARD
*/

.add-book-card {
  display: grid;
  place-items: center;
}

.add-book-card > button {
  background-color: white;
  padding: 0;
  border: none;
  width: 25%;
  height: auto;
  transition: transform 150ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}
